doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
  header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/host") Host
          li 
            a(href="/ipaddress") IP Address
    section#wrapper
        block content
        footer 
